/* Raleway fonts */

@font-face {
	font-family: Raleway-Light;
	src: url("../assets/fonts/raleway-light.ttf");
}

@font-face {
	font-family: Raleway-LightItalic;
	src: url("../assets/fonts/raleway-lightitalic.ttf");
}

@font-face {
	font-family: Raleway-Medium;
	src: url("../assets/fonts/raleway-medium.ttf");
}

@font-face {
	font-family: Raleway-MediumItalic;
	src: url("../assets/fonts/raleway-mediumitalic.ttf");
}
